
h2 {
  text-align: center;
  color: rgb(189, 167, 167);
  font-weight: bold;
  font-size: 2rem;
}

.teszt {
  top: 0;
  left: 0;
  right: 0;
  height: 400px;
  background-color: #AC8968;
  display: flex;
  overflow-x: auto;
}

.teszt2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0 10px;
}

img{
  height: 190px;
  width: 400px;
  margin: 0 10px;
}

#itemName {
  text-align: center;
  color: #3E362E;
  font-weight: bold;
  font-size: 1.5rem;
}

.teszt2 button {
  background-color: rgb(134, 56, 56);
  color: white;
  padding: 10px 15px;
  margin: 20px 0;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

button:hover {
background-color: #45a049;
  transform: scale(1.05);
}

button:active {
background-color: #3e8e41;
transform: scale(0.98);
}

.eddigiNevezesDij {
  color: white;
  text-align: center;
  border: 2px solid rgb(134, 56, 56);
  background-color: rgb(134, 56, 56);
  padding: 10px;
  border-radius: 60px;
  width: 400px;
  justify-content: center;
  font-size: 1.2rem;
}

.nevezesidij {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.addBtn {
  text-align: center;
}

.text-cut {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
}